.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions button {
  width: 70px;
  border: none;
  outline: none;
  color: #fff;
  background-color: rgb(63, 21, 40);
  margin: 2px;
  transition: all 0.5s;
}

.actions button:hover {
  box-shadow: 2px 3px 3px rgba(27, 26, 26, 0.5);
  cursor: pointer;
}

.start {
  height: 70px;
  border-radius: 50%;
  background: -webkit-linear-gradient(
    to right,
    rgb(131, 23, 71),
    rgb(141, 49, 30)
  );
  background: linear-gradient(to right, rgb(131, 23, 71), rgb(141, 49, 30));
}

.stop,
.reset {
  width: 100px;
  padding: 5px 0px;
  border-radius: 20px;
}

.stop {
  background-color: #831747;
}

.reset {
  background-color: #831747;
}
