.heading {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #742046;
  color: rgb(255, 255, 255);
  border-radius: 5px 5px 0 0;
  margin: 0px;
}
