@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

.time {
  font-family: 'Teko', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding: 30px 0px;
}

.hrs,
.mins,
.secs,
.msecs {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: rgb(63, 21, 40);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
}
