body {
  font-family: sans-serif;
}

.parent {
  background: #ff512f;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dd2476, #ff512f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 40%;
  height: 350px;
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 800px) {
  .main {
    width: 60%;
  }
}

@media (max-width: 630px) {
  .main {
    width: 70%;
  }
}

@media (max-width: 505px) {
  .main {
    width: 90%;
  }
}
